.pagination {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .pages {
    span {
      margin-right: 10px;
      cursor: pointer;
      user-select: none;
      color: var(--textSecondary);
      font-size: 1rem;
    }

    span:hover {
      color: ligthen(var(--textSecondary, 10%));
    }

    .active {
      color: var(--primary) !important;
    }
  }

  .prevButton {
    margin-right: 10px;
  }
  .nextButton {
    margin-left: 10px;
  }
}

@media (max-width: 1200px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 700px) {
}

@media (max-width: 500px) {
  .pagination {
    flex-direction: column;
  }
  .prevButton {
    margin: 0 0 10px 0;
  }
  .nextButton {
    margin: 10px 0 0 0;
  }
}
