.root {
  flex: 0 0 32%;
}

.sticky {
  position: sticky;
  top: 80px;
}

.image {
  margin-bottom: 13px;
  width: 100%;
}

.button {
  color: white !important;
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.1rem !important;
  font-weight: 500 !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}

.buttonBack {
  margin-bottom: 15px;
  margin-top: 3px;
}

@media (max-width: 1200px) {
  .root {
    flex: 1;
    margin-bottom: 20px;
  }

  .sticky {
    position: relative;
    top: 0;
  }
}

@media (max-width: 1000px) {
}

@media (max-width: 700px) {
}
