* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}


body {
  margin: 0;
  min-width: 100vh;
  min-height: 100vh;
}

.container {
  max-width: 1128px !important;
  padding: 0 10px !important;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 900px !important;
    padding: 0 10px !important;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 700px !important;
    padding: 0 10px !important;
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 630px !important;
    padding: 0 10px !important;
    margin: 0 auto;
  }
}


@media (max-width: 500px) {
  .container {
    max-width: calc(100% - 60px) !important;
    padding: 0 10px !important;
    margin: 0 auto;
  }
}

